---
# tasks file for ansible-role-mysql-docker
- name: Test if docker is installed
  command: docker
  register: result
  ignore_errors: True

- assert:
    that: result is success

- set_fact:
    exposed_port: "{{ [ mysql_port + ':3306' ] if mysql_expose_port else [] }}"
    volumes: []
    image: '{{ mysql_image }}:{{ mysql_version }}'
    data_volume: "{{ mysql_data_path + ':' + mysql_data_internal_path }}"
    cnf_volume: "{{ mysql_my_cnf_file + ':' + mysql_my_cnf_internal_file }}"

- set_fact:
    socket_volume: "{{ mysql_socket_path + ':' + mysql_socket_internal_path }}"
  when: mysql_expose_socket == True

- set_fact:
    volumes: "{{ volumes }} + [ '{{ socket_volume }}' ]"
  when: mysql_expose_socket == True

- set_fact:
    volumes: "{{ volumes }} + [ '{{ data_volume }}' ]"

- set_fact:
    volumes: "{{ volumes }} + [ '{{ cnf_volume }}' ]"

# download mysql image
- name: Ensure mysql image exists
  docker_image:
    name: '{{ image }}'

- name: Ensure socket dir does exist
  file:
    state: directory
    mode: 0755
    path: '{{ mysql_socket_path }}'
  when: mysql_expose_socket == True

# configure mysql config
- name: Ensure config directory does exist
  file:
    state: directory
    path: '{{ mysql_my_cnf_file | dirname }}'

- name: Ensure mysql config does exist
  template:
    backup: yes
    src: my.cnf.j2
    dest: '{{ mysql_my_cnf_file }}'

# create mysql container
- name: Ensure mysql container is running
  docker_container:
    name: '{{ mysql_container_name }}'
    image: '{{ image }}'
    state: started
    user: '{{ ansible_user_id }}'
    ports: '{{ exposed_port }}'
    volumes: '{{ volumes }}'
    env:
      MYSQL_ROOT_PASSWORD: '{{ mysql_root_password }}'
