---
# tasks file for ansible-role-mysql-docker
- name: Test if docker is installed
  command: docker
  register: result
  ignore_errors: True

- assert:
    that: result|success

- set_fact:
    exposed_port: "{{ [ mysql_port + ':3306' ] if mysql_expose_port else [] }}"
    volumes: []
    image: '{{ mysql_image }}:{{ mysql_version }}'

- set_fact:
    volumes: "{{ volumes }} + {{ mysql_socket_path + ':' + mysql_socket_internal_path }}"
  when: mysql_expose_socket == True

- set_fact:
    volumes: "{{ volumes }} + {{ mysql_data_path + ':' + mysql_data_internal_path }}"

- set_fact:
    volumes: "{{ volumes }} + {{ mysql_my_cnf_file + ':' + mysql_my_cnf_internal_file }}"

# download mysql image
- name: Ensure mysql image exists
  docker_image:
    name: '{{ image }}'

# create mysql container
- name: Ensure mysql container is running
  docker_container:
    name: '{{ mysql_container_name }}'
    image: '{{ image }}'
    state: present
    ports: '{{ exposed_port }}'
    volumes: '{{ volumes }}'
    env:
      MYSQL_ROOT_PASSWORD: '{{ mysql_root_password }}'
