[client]
port=3306
socket={{ mysql_socket_internal_path }}

[mysqld]
port=3306
socket={{ mysql_socket_internal_path }}

{% for key, value in mysqld_config.iteritems() %}
    {{ key }}={{ value }}
{% endfor %}

[mysqldump]
quick
